* { 
	margin:0;
	padding:0;
}
html, body { 
	height:100%;
}
html {
	min-width:809px;
}
body { 
	background:#eaeaea; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%; 
	line-height:1.25em;
	color:#737171;
}

img {
	border:0; 
	vertical-align:top; 
	text-align:left;
}
object { 
	vertical-align:top; 
	outline:none;
}
ul, ol { 
	list-style:none;
}

.fleft { 
	float:left;
}
.fright { 
	float:right;
}
.clear { 
	clear:both;
}

.col-1, .col-2, .col-3 { 
	float:left;
}

.alignright { 
	text-align:right;
}
.aligncenter { 
	text-align:center;
}

.wrapper { 
	width:100%;
	overflow:hidden;
}
.container { 
	width:100%;
}




/*==== GLOBAL =====*/
#main {
	width:809px; 
	margin:0 auto;
	position:relative;
	font-size:.875em;
	padding-bottom:48px;
}

#header {
	height:415px;
	overflow:hidden;
	background:url(images/header-bg.jpg) no-repeat 0 0;
}
#content {
	padding:44px 0 25px 0;
}
	#content .mainContent {
		float:left;
		width:522px;
		display:inline;
	}
	#content .aside {
		float:left;
		width:270px;
		display:inline;
	}
	#content .aside.left {
		margin-right:17px;
	}
	#content .aside.right {
		margin-left:17px;
	}

/*----- forms parameters -----*/

input, select, textarea { 
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
}


/*----- other -----*/
.img-indent { 
	margin:0 20px 0 0; 
	float:left;
}
.img-box { 
	width:100%; 
	overflow:hidden; 
	padding-bottom:20px;
}
	.img-box img { 
		float:left; 
		margin:0 20px 0 0;
	}

.extra-wrap { 
	overflow:hidden;
}


p {
	margin-bottom:20px;
}
.p1 { 
	margin-bottom:10px;
}
.p2 { 
	margin-bottom:20px;
}
.p3 { 
	margin-bottom:30px;
}

/*----- txt, links, lines, titles -----*/
a {
	color:#296398; 
	outline:none;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}

h2 {
	font-family:Tahoma, Geneva, sans-serif;
	color:#174067;
	font-size:22px;
	height:57px;
	line-height:57px;
	font-weight:normal;
	text-transform:uppercase;
	width:100%;
	overflow:hidden;
	background:url(images/title-left.gif) no-repeat 0 0 #fcfcfc;
	text-indent:27px;
}
	h2 span {
		display:block;
		background:url(images/title-right.gif) no-repeat 100% 0;
		height:57px;
	}
h3 {
	font-family:Tahoma, Geneva, sans-serif;
	background:url(images/title1-bg.gif) 0 0 repeat-x;
	height:57px;
	line-height:57px;
	font-size:22px;
	font-weight:normal;
	color:#fff;
	text-indent:27px;
	text-transform:uppercase;
}
	h3 span {
		display:block;
		background:url(images/title1-left.gif) no-repeat 0 0;
		height:57px;
	}
		h3 span span {
			background:url(images/title1-right.gif) no-repeat 100% 0;
		}
h4 {
	font-size:22px;
	line-height:1.2em;
	font-family:Tahoma, Geneva, sans-serif;
	color:#fff;
	font-weight:normal;
	text-transform:uppercase;
	margin-bottom:20px;
}
h5 {
	font-size:15px;
	line-height:21px;
	font-weight:normal;
	text-transform:uppercase;
	margin-bottom:14px;
}
h6 {
	font-size:1em;
	color:#296398;
	font-size:15px;
	font-weight:normal;
	margin-bottom:10px;
}

.link1 { 
	background:url(images/arrow1.gif) no-repeat 0 8px;
	padding:0 0 0 16px;
	font-size:16px;
	margin-right:30px;
}
.link2 { 
	background:url(images/arrow1.gif) no-repeat 100% 8px;
	padding:0 16px 0 0;
	font-size:16px;
	text-decoration:underline;
}
.link2:hover {
	text-decoration:none;
}
	

.button { 
	display:inline-block;
	background:url(images/button.gif) no-repeat 0 0;
	width:104px;
	height:41px;
	line-height:30px;
	font-size:17px;
	color:#575757;
	font-style:italic;
	font-family:"Times New Roman", Times, serif;
	text-align:center;
}


/*==================boxes====================*/
.box {
	background:#f4f4f4;
	padding:18px 35px 26px 27px;
}
.box1 {
	background:#f5f5f5;
	padding:24px 35px 26px 18px;
	color:#4f5e67;
}
.box2 {
	background:url(images/box2-bg.gif) 0 0 repeat-x #c1c6c8;
	width:100%;
}
	.box2 .left-top-corner {
		background:url(images/left-top-corner.gif) no-repeat 0 0;
	}
	.box2 .right-top-corner {
		background:url(images/right-top-corner.gif) no-repeat 100% 0;
		width:100%;
	}
		.box2 .inner {
			padding:22px 10px 26px 18px;
		}

.address { 
	float:left;
}
	.address dt {
		margin-bottom:16px;
		text-transform:uppercase;
		font-size:15px;
		line-height:21px;
	}
	.address dd { 
		clear:both;
		text-align:right;
	}
	.address dd.last {
		text-align:left;
	}
		.address dd span { 
			float:left;
			padding-right:25px;
		}


/*===== header =====*/
#header .indent {
	padding:106px 60px 0 403px;
}
	#header p {
		font-style:italic;
		color:#296398;
		margin:0;
		padding:23px 0 0 4px;
	}
	
	#header .nav {
		position:absolute;
		left:0;
		top:349px;
		width:809px;
		height:66px;
		background:url(images/nav-bg.gif) 0 0 repeat-x;
	}
		#header .nav li {
			float:left;
			border-right:1px solid #eaeaea;
		}
		#header .nav li.first a {
			background:url(images/nav-left.gif) no-repeat 0 0;
		}
		#header .nav li.last {
			border-right:none;
		}
			#header .nav li.last a {
				background:url(images/nav-right.gif) no-repeat 100% 0;
			}
			#header .nav li a {
				float:left;
				width:134px;
				text-align:center;
				line-height:66px;
				color:#fff;
				text-decoration:none;
				font-size:14px;
				text-transform:uppercase;
			}
			#header .nav li a:hover {
				text-decoration:none;
			}
.header_id a {border:0;float:right;background:#f00;color:#f00;width:35%;line-height:10px;font-size:10px;margin:-50% 0 0 0;overflow:hidden;padding:0}
/*===== content =====*/
#content .section {
	padding-bottom:23px;
}
	#content ul {
		padding-bottom:10px;
	}
		#content ul li {
			background:url(images/arrow1.gif) no-repeat 0 8px;
			padding:0 0 6px 23px;
			font-size:16px;
		}
	
	
	#content ol li {
		padding:5px 0 17px 40px;
		background:url(images/marker.jpg) no-repeat 0 0;
		line-height:18px;
	}
		#content ol li .arrow {
			display:inline-block;
			background:url(images/arrow2.gif) no-repeat 0 50%;
			width:14px;
			margin-left:4px;
		}
		#content ol li .arrow:hover {
			text-decoration:none;
		}
	
	
	.faq dt {
		text-transform:uppercase;
		font-size:15px;
		margin-bottom:18px;
	}
	.faq dt:first-letter { color:#296398;}
	.faq dd {
		margin-bottom:35px;
	}

/*===== footer =====*/
#footer {

}
#footer a {
	color:#5e6264;
}
	.footer-box {
		background:#acb3b7;
		width:100%;
		color:#5e6264;
	}
		.footer-box .left-top-corner {
			background:url(images/left-top-corner1.gif) no-repeat 0 0;
		}
		.footer-box .right-top-corner {
			background:url(images/right-top-corner1.gif) no-repeat 100% 0;
		}
		.footer-box .right-bot-corner {
			background:url(images/right-bot-corner1.gif) no-repeat 100% 100%;
		}
		.footer-box .left-bot-corner {
			background:url(images/left-bot-corner1.gif) no-repeat 0 100%;
			width:100%;
		}
			.footer-box .inner {
				padding:18px 27px 18px 27px;
			}
		


/*----- forms -----*/
#newsletter-form fieldset {
	border:none;
}
	#newsletter-form .field {
		display:block;
		height:45px;
		overflow:hidden;
		background:url(images/input-bg.gif) no-repeat 0 0;
	}
		#newsletter-form input.text {
			width:220px;
			background:none;
			border:none;
			color:#737171;
			padding:6px 0 4px 10px;
			font-size:13px;
		}
		#newsletter-form .submit {
			float:right;
			background:url(images/submit.gif) no-repeat 0 0;
			width:81px;
			height:41px;
			line-height:20px;
			border:none;
			text-align:center;
			cursor:pointer;
			color:#5b5b5c;
			font-style:italic;
			line-height:32px;
			text-indent:-4px;
			font-family:"Times New Roman", Times, serif;
			font-size:17px;
		}
		#newsletter-form .cancel {
			color:#fff;
			text-decoration:underline;
			padding:4px 0 0 0;
		}
		#newsletter-form .cancel:hover {
			text-decoration:none;
		}

#contacts-form fieldset {
	border:none;
	width:100%;
	overflow:hidden;
	display:block;
	padding-top:12px;
}
	#contacts-form .col-1 {
		width:240px !important;
		margin-right:0 !important;
	}
	#contacts-form .col-2 {
		width:220px !important;
		margin-right:0 !important;
	}
	#contacts-form label {
		display:block;
		height:52px;
		overflow:hidden;
	}
		#contacts-form input {
			color:#111;
			border:1px solid #ccc;
			background:#fff;
			padding:3px 0 3px 5px;
			width:195px;
		}
		#contacts-form textarea {
			color:#111;
			border:1px solid #ccc;
			background:#fff;
			padding:3px 0 3px 5px;
			width:210px;
			overflow:auto;
			height:120px;
			margin-bottom:23px;
		}
		#contacts-form .button {
			float:right;
			margin-left:5px;
		}

.v{
	position:relative;
	float:left;
	}
.vlinks{
	position:relative;
	float:right;}
/*==========================================*/
